/* desde la terminal voy a la rama master, compruebo que estoy en esa rama y hago el merge*/
body{
    background-color: aliceblue;
    text-align: center;
}
h1{
    color: aliceblue;
    background-color: aqua;
    font-size: 80px;
    padding: 20px;
}